@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
.testing {
  background: lightgrey;
  width: 7%;
  font-size: 200%;
  padding: 11.11111%;
  font-family: "Roboto Slab", serif; }

img {
  width: 28.57143%; }
